.feed_page_container{
	@include clearfix;
	width:100%;
	max-width:1200px;
	display:block;
	margin: 0 auto;
	h1{
		font-family: $headerFont;
		color: $dk_green;
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		padding:38px 0 0;
		@media only screen and (max-width: 767px) {
			padding: 38px 15px 0;
		}
	}
}

.monkey_icon_span{
	background-color: blue;
}


.single_feed_container{
	@include clearfix;
	width:100%;
	max-width:1200px;
	display:block;
	margin: 0 auto;
}


#container-async{
	div.content{
		@include grid-column(9);
		padding-right:2.0em;
		@media only screen and (max-width: 767px) {
	        @include grid-column(12);
			padding-right:0;
	    }
	}
	section.filter_sidebar{
		font-size: 16px;
		line-height: 1.5;
		@include grid-column(3);
		h2{
			font-size: 24px;
			margin-bottom: 0;
		}
		h3{
			margin: 2.0em 0 0;
			padding: 0;
			font-size:19px;
			text-transform: uppercase;
		}
		p{
			line-height: 1.5;
		}
		ul{
			li{margin-bottom: 0.75em;
				a{line-height:1.2;}
			}
		}
		@media only screen and (max-width: 767px) {
	        display:none;
	    }
	}
}

article.loop-item{
	margin-top:2.0em;
	padding:0 0 2.0em;
	border-bottom: 3px solid $lt_grey;
	&:first-child{
		margin-top:0;
	}
	&:last-child{
		border-bottom: none;
	}
}

.view_btn_contain{
	a{
		padding: 0.5em 0.25em;
		text-align: center;
		margin: 1.0em auto;
		width:80%;
		display: block;
		outline: 1px solid #000;
		transition: all .25s ease-in-out;
		&:hover{
			background-color: $orange;
			color:$white;
			outline: none;
		}
	}
}

#monkey_icon_drop{
	float: left;
    margin: 0 0.65em 0.25em 0;
}

ul.nav-filter{
	padding:8px 0 0;
	margin: 0em 0 1.0em;
	li.active{
		a{
			// color:$dk_green!important;
			// font-weight: 700;
			border: none;
			outline: none;
		}
	}
	li.focus{
		a{
			border: none;
			outline: none;
		}
	}
}

.et_pb_portfolio_filter, .et_pb_portfolio_filter_all{
	display:none;
}
.et_pb_filterable_portfolio .et_pb_portfolio_filters {
    clear: both;
    margin: 0 0 5px 0;
}
.et_pb_portfolio_items{
	h2{
		margin:0;
		padding-bottom: 0;
	}
	a{
		color:$main_link;
		font-weight:normal;
        font-size: 16px;
        line-height: 0.7;
        &:hover{
            color:$main_link_h;
        }
	}
}

