footer{
	width:100%;
	color:#fff;
	font-size: 16.2px;
	background-color:$dk_green;
	border-top:5px solid $orange;

	hr{
		margin:0 0 0 0;
	}
	#footer_logo{
		margin-left: -1.0em;
		@media only screen and (max-width: 700px) {
			margin: 0 auto;
		}
	}
	h3{
		color:#fff;
		font-weight: 700;
		margin: 0 0 0.25em 0;
	}
	p{
		margin: 0 0 0.35em 0;
		padding-bottom: 0;
		line-height: 1.7;
	}
	.footer_contain{
		 @include grid-container;
		 max-width: 1200px;
		 margin:0 auto;
		 padding: 1.8em 0;
		 color:#fff;
		 font-family: $headerFont; 
		 .footer_logo{
		 	@include grid-column(3);
		 	p{
		 		margin: 0 0 .35em 0;
		 		color:$white;
		 		line-height: 1.7!important;
		 	}
		 	a{
		 		color:#fff;
		 		&:hover{
		 			color:$orange;
		 		}
		 	}
		 	@media only screen and (max-width: 700px) {
				@include grid-column(12);
				padding:1.0em;
				margin-bottom: 1.0em;
				border-bottom: 1px solid #fff;
				text-align: center;
			}
		 }
		 .footer_about{
		 	@include grid-column(6);
		 	color:$white;
		 	p{
		 		color:$white;
		 		line-height: 1.7!important;
		 	}
		 	@media only screen and (max-width: 700px) {
				@include grid-column(12);
				padding:1.0em;
				margin-bottom: 1.0em;
				border-bottom: 1px solid #fff;
				text-align: center;
			}
		 }
		 .footer_facebook{
		 	@include grid-column(3);
		 	@media only screen and (max-width: 700px) {
				@include grid-column(12);
			}		 	
		 	color: $black;
		 	font-size: 12px;
		 }
	}
	.copyright{
		text-align: center;
		padding:1.0em;
	}
}	