body{
	font-family: $bodyFont;
	font-size: 18px;
	color:$black;
}

h2{
	font-family: $headerFont;
	color:$orange;
	font-size: 36px;
	font-weight: 700;
}
h3{
	font-family: $headerFont;
	font-weight: 700;
	margin: 0 0 0.25em;
}
p{
	color:$black;
	padding-bottom: 0.75em;

}
a{
	color:$main_link;
	&:hover{
		color:$main_link_h;
	}
	&:focus{
		outline:none;
		border:none;
	}
	&:active{
		outline:none;
		border:none;
	}
}
.et_pb_portfolio_item{
	margin-bottom: 1.0em;
}
.et_pb_row{
	max-width: 1200px;
}
ul,.entry-content ul{
	padding: 5px 0 0 2.3em;
}

.et_pb_text{
	ul,.entry-content ul{
		padding: 5px 0 1.5em 2.3em;
	}
}
.monkey_icon{
	&:before{
		content: url(images/monkey_icon.png);
		position: absolute;
		display: block;
		z-index: 99999;
		top: 0;
		left: 50%;
		width: 101px;
		height: 101px;
		margin: -50px 0 0 -50px;
	}
	padding:27px 0;
}

body #page-container .et_pb_button_0 {
	font-size: 18px!important;
}