body{
	font-family: $bodyFont;
	font-size: 18px;
	color:$black;
}

h2{
	font-family: $headerFont;
	color:$orange;
	font-size: 36px;
	font-weight: 700;
}
h3{
	font-family: $headerFont;
	font-weight: 700;
	margin: 0 0 0.25em;
	font-size: 1.45em;
}
h4{
	font-family: $headerFont;
	font-weight: 700;
	margin: 0 0 0.25em;
	font-size: 1.25em;
}
p{
	color:$black;
	padding-bottom: 0.75em;

}
a{
	color:$main_link;
	&:hover{
		color:$main_link_h;
	}
	&:focus{
		outline:none;
		border:none;
	}
	&:active{
		outline:none;
		border:none;
	}
}
.et_pb_text_inner{
	li{
		margin-bottom: 1.0em;
	}
}
.et_pb_portfolio_item{
	margin-bottom: 1.0em;
}
.et_pb_row{
	max-width: 1200px;
}
ul,.entry-content ul{
	padding: 5px 0 0 2.3em;
}

.et_pb_text{
	ul,.entry-content ul{
		padding: 5px 0 20px 2.3em;
	}
}
.monkey_icon{
	&:before{
		content: url(images/monkey_icon.png);
		position: absolute;
		display: block;
		z-index: 8888;
		top: 0;
		left: 50%;
		width: 101px;
		height: 101px;
		margin: -50px 0 0 -50px;
	}
	padding:27px 0;
}

body #page-container .et_pb_button_0 {
	font-size: 18px!important;
}
.et_pb_slide_content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    width:100%;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    padding:0.5em 0.5em;
    background-color: $dk_green;
    @media only screen and (max-width: 981px) {
        font-size: 14px;
        padding:0.25em 0.25em;
    }
    @media only screen and (max-width: 767px) {
        display:none;
    }
     @media only screen and (max-width: 767px) {
        display:none;
    }
}

h2.et_pb_slide_title{
    @media only screen and (max-width: 767px) {
        font-size: 33px!important;
    }
}
.et_pb_module .et_pb_button, .et_pb_button {
    background-color: $orange;
}
.et_pb_module .et_pb_button:hover, .et_pb_button:hover {
    padding: 0.65em 2em 0.60em 1em;
    border: 2px solid transparent;
    background-color: $orange;
}

div.author-info{
	font-size: 16px;
}