body{
	font-family: $bodyFont;
	font-size: 16px;
}

h2{
	font-family: $headerFont;
	color:$orange;
	font-size: 36px;
	font-weight: 700;
}
p{
	color:$black;
}
.monkey_icon{
	&:before{
		content: url(images/monkey_icon.png);
		position: absolute;
		display: block;
		z-index: 99999;
		top: 0;
		left: 50%;
		width: 101px;
		height: 101px;
		margin: -50px 0 0 -50px;
	}
	padding:27px 0;
}

body #page-container .et_pb_button_0 {
	font-size: 18px!important;
}