#head_contain{
	max-width: 1200px;
	display: block;
	margin: 0 auto;
	@include clearfix;
	padding:1.0em 0 .05em;
	@media only screen and (max-width: 900px) {
		text-align: center;
	}
}
header{
  border-bottom:5px solid $orange;
}
#main-header{
	z-index:99998;
}
#top-header{
	border-top:5px solid $orange;
	background-color: $white;
	.container{
		padding-top:0;
	}
}	

#et-secondary-menu{
	border-top:1px solid $white;
	ul.et-social-icons{
		background-color: $lt_grey;
		padding:0.5em 0 0.45em;
		margin-right: 0;
		float:left;
		display: flex;
		flex: 1;
  		align-items: center;
  		li{
  			width:auto;
  			margin: 0;
  			padding:0 0.5em;
  			a.icon{
  				padding:0.5em 0.5em;
  				color:$grey;
  			}
  		}
	}
	#et-secondary-nav{
		background-color: $dk_green;
		padding:0 ;
		margin-right: 0;
		float:left;
		display: flex;
  		align-items: center;
  		flex: 1;
		li{
			font-size: 16px;
			width:auto;
  			margin: 0;
  			&:after{
  				content: '';
  				width:1px;
  				background-color: $white;
  				height:100%;
  				display: block;
  				position: absolute;
  				top:0;
  				bottom:-1px;
  			}
  			a{
  				padding:0.87em 0.5em;
  			}
		}
	}
}
#et-top-navigation{
	font-weight: 400;
}
#top-menu >{
	li{
		font-size: 22px;
		color:$nav_color;
		margin-right: 2.0em;
		&:last-child{
			margin-right: 0em;
		}
		> a{
			&:hover{
				text-decoration: underline;
			}
		}
		@media all and (max-width: 1400px) and (min-width: 1051px) {
			margin-right: 0.75em;
			padding-right: 10px;
		}
		@media all and (max-width: 1050px) and (min-width: 1025px) {
			margin-right: 0.5em;
		}
	}
}


@media only screen and (min-width: 981px){
	.et_header_style_left #et-top-navigation, .et_header_style_split #et-top-navigation {
	    padding: 52px 0 0 0!important;
	}
}

.nav_one_third{
	width:33%;
	display:inline-block;
	float:left;
}

.nav_two_thirds{
	width:66%;
	display:inline-block;
	float:left;
}
.et_header_style_left .logo_container {
	position: relative;
	padding-top:1.5em;
}

@media (max-width: 500px){
	.et_header_style_left #logo, .et_header_style_split #logo {
	    max-width: 90%;
	}
}
