body.home{
	.hero_image{
		.et_pb_slide{
			min-height: 69vh;
			padding:0 0;
		}
		.et_pb_slide_content {
		    color: $white;
		    font-size: 18px;
		    font-weight: 400;
		    padding:0.5em 0.5em;
		    background-color: $dk_green;
		    position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    p{
		    	margin:0 0 0.4em 0;
		    	color:$white;
		    }
		}
	}
	
	.et_pb_slide_description{
		padding: 16% 0% 4% 0%;
		h2.et_pb_slide_title{
			font-size: 60px;
			span{
				font-weight: 700;
			}
		}
	}
	.et_pb_slides .et_pb_slider_container_inner{
		display: table-cell;
		vertical-align:bottom;
	}
	.et_pb_bg_layout_dark h1{
		font-size: 60px;
		font-family: $headerFont;
	}
	.et_pb_slider .et_pb_container {
	    position: relative;
	    z-index: 2;
	    width: 100%;
	    max-width: 100%;
	    margin: 0 auto;
	}
	
	.primate_slider .et_pb_slide{ 
        max-height: 300px; 
    }
    .primate_slide_container{
    	padding: 54px 0 0;
    }
    .mission_block{
    	padding: 0;
    }
    .mission_statement{
    	padding:0 9%;
    	p{
    		color:$dk_grey;
    		font-size: 30px;
    		line-height:1.2em;
    		margin-bottom: 0;
    	}
    	h2{
    		margin: 0;
    	}
    }
    .cta_block{
    	padding: 0 0 54px;
    	h2{
    		margin: 0;
    		line-height:1.1;
    		padding-bottom:0;
    		font-weight:700;
    	}
    	p{
    		color:$black;
    		padding-bottom:0;
    	}
    	a{
    		color:$link_blue;
    		font-weight:700;
    	}
    	.et_pb_row{
    		padding:0 0 27px!important;
    	}
    	


    }
    .et_pb_posts{
    	h2{
    		font-size: 16px;
    		margin-top:0;
    		span{
    			color:$black;
    			font-weight: 700;
    		}
    		a{
    			color:$link_blue;
    			margin-left: 0.5em;
    			font-weight:500;
    		}
    	}
    	.post-content{
    		display:none;
    	}
    }
    .et_pb_number_counter{
    	span.percent-value{
    		color:$nav_color;
    	}
    }
    .counter_header{
    	padding:27px 0 0;
    	h2{
    		margin:0 0 0 0;
    	}
    }
    .counter_container{
    	padding:10px 0 0;
    }
    .counter_text{
    	margin-bottom: 3.5em;
    }
}