body.home{

	.primate_slider .et_pb_slide{ 
        max-height: 300px; 
    }
    .primate_slide_container{
    	padding: 54px 0 0;
        .et_pb_slide_content{
            display: none;
        }
    }

    .et_pb_slide {
        padding: 0;
    }
    .et_pb_slider .et_pb_container {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        @media all and (max-width: 1680px) and (min-width: 980px) {
            height: 400px !important;
        }
        @media only screen and ( min-width:1681px ) {
            height: 800px !important;
        }
    }
    .et_pb_slide_content{
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        width:100%;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        padding:0.5em 0.5em;
        background-color: $dk_green;
        @media only screen and (max-width: 981px) {
            font-size: 14px;
            padding:0.25em 0.25em;
        }
        @media only screen and (max-width: 767px) {
            display:none;
        }
    }


    .et_pb_slider_container_inner{
        height:100%;
        width:100%;
    }
    .et_pb_slide_description{
        height:100%;
    }

    
        @media all and (max-width: 1680px) and (min-width: 980px) {
        .et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description {
            width: auto;
            margin: auto;
            padding: 10% 8%;
        }
    }

    @media only screen and ( max-width:480px ) {
        .et_pb_slide_description, .et_pb_slider_fullwidth_off .et_pb_slide_description {
            width: auto;
            margin: auto;
            padding: 16% 8% 58%;
        }
    }




    h2.et_pb_slide_title{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
        width:100%;
        font-size: 60px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        span{
         font-weight: 700;
        }
    }

    .mission_block{
    	padding: 0;
    }
    .mission_statement{
    	padding:0 9%;
    	p{
    		color:$dk_grey;
    		font-size: 30px;
    		line-height:1.2em;
    		margin-bottom: 0;
    	}
    	h2{
    		margin: 0;
    	}
    }
    .cta_block{
    	padding: 0 0 54px;
    	h2{
    		margin: 0;
    		line-height:1.1;
    		padding-bottom:0;
    		font-weight:700;
    	}
    	p{
    		color:$black;
    		padding-bottom:0;
    	}
    	a{
    		color:$main_link;
    		font-weight:normal;
            font-size: 18px;
            line-height: 0.7;
            &:hover{
                color:$main_link_h;
            }
    	}
    	.et_pb_row{
    		padding:0 0 27px!important;
    	}
    	


    }
    .et_pb_portfolio_filters{
        display:none;
    }
    .et_pb_posts{
    	h2{
    		font-size: 16px;
    		margin-top:0;
    		span{
    			color:$black;
    			font-weight: 700;
    		}
    		a{
    			color:$main_link;
    			margin-left: 0.5em;
    			font-weight:500;
    		}
    	}
    	.post-content{
    		display:none;
    	}
    }
    .et_pb_number_counter{
    	span.percent-value{
    		color:$nav_color;
    	}
    }
    .counter_header{
    	padding:27px 0 0;
    	h2{
    		margin:0 0 0 0;
    	}
    }
    .counter_container{
    	padding:10px 0 0;
    }
    .counter_text{
    	margin-bottom: 3.5em;
    }
}