
#top-menu .menu-item-has-children > a:first-child:after, #et-secondary-nav .menu-item-has-children > a:first-child:after {
	content: '>';
    width: 1.0em;
    position: absolute;
    margin-left: 1.25em;
    font-family: $headerFont;
    font-size: 22px;
    right: -0.35em;
    top: 0.08em;
    font-weight: 400;
}

.nav li ul{
	margin-top: -46px;
	z-index: 99999;
	background: #6f7a36; /* Old browsers */
	background: -moz-linear-gradient(top,  #6f7a36 47%, #adbb5a 83%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #6f7a36 47%,#adbb5a 83%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #6f7a36 47%,#adbb5a 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7a36', endColorstr='#adbb5a',GradientType=0 ); /* IE6-9 */
	border-top: 0px solid #6F7A36;
	li{

		a{
			color:$white!important;
			font-size: 18px;
			&after{
				content: ' ';
			}
		}
	}
}

#top-menu li li {
    margin: 0;
    padding: 0 10px;
    font-size: 18px;
    line-height: 1.2;
}

#top-menu li.current-menu-item > a{
	color:$nav_color;
	text-decoration: underline;
}
#top-menu li.current-menu-ancestor > a{
	color:$nav_color;
	text-decoration: underline;	
}

@media only screen and (min-width: 981px) {
	.et_header_style_left #et-top-navigation nav>ul>li>a, .et_header_style_split #et-top-navigation nav>ul>li>a {
	    padding-bottom: 58px;
	}
}

.et_mobile_menu {
    display: none;
    visibility: visible;
    position: absolute;
    z-index: 9999;
    left: 0;
    width: 100%;
    padding: 5%;
    border-top: 3px solid #2ea3f2;
    opacity: 1;
    background: #6f7a36; /* Old browsers */
	background: -moz-linear-gradient(top,  #6f7a36 47%, #adbb5a 83%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #6f7a36 47%,#adbb5a 83%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #6f7a36 47%,#adbb5a 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7a36', endColorstr='#adbb5a',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    li{
    	a{
		    background-color: rgba(0, 0, 0, 0.03);
		    font-weight: bold;
    	}
    }
}
.et_header_style_left .mobile_menu_bar{
	@media only screen and (max-width: 787px) {
        padding-bottom:48px;
    }
}