//Colors
$white: #ffffff;
$black: #000000;
$dk_green: #818c3c;
$orange: #e76735;
$link_blue: #0404ee;
$dk_grey:#666666;
$grey:#999999;
$lt_grey:#dfdcda;
$nav_color: #5f5046;

$main_link:#1565c0;
$main_link_h: #104c90;

//Fonts
$bodyFont: "myriad-pro",sans-serif;
$headerFont: "proxima-nova",sans-serif;

//Layout
.container{
	max-width: 1200px;
}